/* Global Styles */
body {
    font-family: 'Orbitron', sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #333, #444);
    box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.6);
}

/* Title */
.title {
    font-size: 3em;
    color: #00FF00;
    margin-bottom: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #00FF00;
}

/* Slot Machine */
.slot-machine {
    display: flex;
    justify-content: center;
    margin-top: 80px;  /* Puxando as fileiras para baixo */
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Slot */
.slot {
    width: 120px;
    height: 120px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #ddd;
    border: 2px solid #444;
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

/* Spin Button */
.spin-button {
    background-color: #00FF00;
    color: black;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    font-size: 2em;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.6);
}

.spin-button:hover {
    background-color: #008800;
    transform: scale(1.1);
}

#result {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 0px 0px 10px #00FF00;
}

/* Keyframe for Rotation */
@keyframes rotateSlot {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(1440deg); } /* 4 full rotations */
}

/* Active Spin Class */
.spin {
    animation: rotateSlot 2s ease-out forwards;
}
